@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

body {
  background-color: rgb(59, 59, 59);
}

.card {
  border: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.volume.btn {
  border: none;
}
